<extend name="Base:base" />
<block name="title">{$title}</block>
<block name="content">
    <div class="span12">
        <div class="box paint color_2">
            <div class="title">
                <h4> <i class="icon-calendar"></i> <span>{$title}</span> </h4>
            </div>
            <div class="content ">
                <form class="form-horizontal" id="validateForm" action='' method="POST">
                    <fieldset>
                        <div class="form-row control-group row-fluid">
                            <label class="control-label span2">{$type}名称 <span class="help-block"></span> </label>
                            <div class="controls span9">
                                <input id="name" name="name"  value="{$node.name}" type="text" required class="span12"/>
                            </div>
                        </div>
                        <div class="control-group row-fluid">
                            <label class="control-label span2">{$type}描述</label>
                            <div class="controls span9">
                                <input type="text" name="title"  value="{$node.title}" placeholder="" class="row-fluid">
                            </div>
                        </div>
                        <div class="control-group row-fluid">
                            <label class="control-label span2">{$type}备注</label>
                            <div class="controls span9">
                                <input type="text" name="remark"  value="{$node.remark}" placeholder="" class="row-fluid">
                            </div>
                        </div>
                        <div class="control-group row-fluid">
                            <label class="control-label span2">排序</label>
                            <div class="controls span9">
                                <input type="text" name="sort"  value="{$node.sort|default=0}" placeholder="" class="row-fluid">
                            </div>
                        </div>
                        <div class="control-group row-fluid">
                            <!-- Password -->
                            <label class="control-label span2"  for="Password">是否开启</label>
                            <div class="controls span9">
                                <label class="inline radio">
                                    <input type="radio" name="status" value="1" <if condition="$node['status'] eq 1">checked=""</if>>
                                    开启 </label>
                                <label class="inline radio">
                                    <input type="radio" name="status" value="0" <if condition="$node['status'] eq 0">checked=""</if>>
                                    关闭 </label>
                            </div>
                        </div>
                        <div class="control-group row-fluid">
                            <div class="span3 visible-desktop"></div>
                            <div class="controls span9">
                                <input type="hidden" name="id" value="{$node.id}" />
                                <input type="hidden" name="level" value="{$level}"/>
                                <button type="submit" class="btn btn-primary">保存</button>
                                <button class="btn btn-return" onclick="javascript:history.back(-1);
                                        return false;">返 回</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</block>

