<extend name="Base:base" />
<block name="title">{$title}</block>
<block name="content">
    <div class="span12">
        <div class="box paint color_2">
            <div class="title">
                <h4> <i class="icon-calendar"></i> <span>{$title}</span> </h4>
            </div>
            <div class="content ">
                <form class="form-horizontal" id="validateForm" action='' method="POST">
                    <fieldset>
                        <div class="form-row control-group row-fluid">
                            <label class="control-label span2">角色名称 <span class="help-block"></span> </label>
                            <div class="controls span9">
                                <input id="name" name="name" type="text" required class="span12"/>
                            </div>
                        </div>
                        <div class="control-group row-fluid">
                            <!-- Email -->
                            <label class="control-label span2"  for="Email">角色描述</label>
                            <div class="controls span9">
                                <input type="text" name="remark" required placeholder="" class="row-fluid">
                                <p class="help-block">用于后台用户所属角色</p>
                            </div>
                        </div>
                        <div class="control-group row-fluid">
                            <!-- Password -->
                            <label class="control-label span2"  for="Password">是否开启</label>
                            <div class="controls span9">
                                <div class="pull-left">
                                    <label class="radio off">
                                        <input type="radio" name="status" id="toggle1-off" value="0" checked="">
                                    </label>
                                    <label class="radio on">
                                        <input type="radio" name="status" id="toggle1-on" value="1">
                                    </label>
                                    <div class="toggle">
                                        <div class="yes"> 开启 </div>
                                        <div class="switch"> </div>
                                        <div class="no"> 关闭 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group row-fluid">
                            <div class="span3 visible-desktop"></div>
                            <div class="controls span9">
                                <button type="submit" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</block>