nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
think/nbproject/
think/Runtime/
think2/nbproject/
think2/Runtime/
tp5/nbproject/
tp5/runtime/
laravel/nbproject/private/
laravel/node_modules
laravel/public/storage
laravel/Homestead.yaml
laravel/Homestead.json
laravel/vendor
laravel/.env
laravel/nbproject
