<!-- General scripts --> 
<script src="__JS__/jquery.js" type="text/javascript"></script> 
<!--[if !IE]> -->
<script src="__JS__/plugins/enquire.min.js" type="text/javascript"></script> 
<!-- <![endif]-->
<!-- <![endif]-->
<!--[if lt IE 7]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
<![endif]-->
<script language="javascript" type="text/javascript" src="__JS__/plugins/jquery.sparkline.min.js"></script> 
<script src="__JS__/plugins/excanvas.compiled.js" type="text/javascript"></script> 

<!-- Modal Concept --> 
<script language="javascript" type="text/javascript" src="__JS__/plugins/avgrund.js"></script> 
<script src="__JS__/bootstrap-transition.js" type="text/javascript"></script> 
<script src="__JS__/bootstrap-alert.js" type="text/javascript"></script> 
<script src="__JS__/bootstrap-modal.js" type="text/javascript"></script> 
<script src="__JS__/bootstrap-dropdown.js" type="text/javascript"></script> 
<script src="__JS__/bootstrap-scrollspy.js" type="text/javascript"></script> 
<script src="__JS__/bootstrap-tab.js" type="text/javascript"></script> 
<script src="__JS__/bootstrap-tooltip.js" type="text/javascript"></script> 
<script src="__JS__/bootstrap-popover.js" type="text/javascript"></script> 
<script src="__JS__/bootstrap-button.js" type="text/javascript"></script> 
<script src="__JS__/bootstrap-collapse.js" type="text/javascript"></script> 
<script src="__JS__/bootstrap-carousel.js" type="text/javascript"></script> 
<script src="__JS__/bootstrap-typeahead.js" type="text/javascript"></script> 
<script src="__JS__/bootstrap-affix.js" type="text/javascript"></script> 
<script src="__JS__/fileinput.jquery.js" type="text/javascript"></script> 
<script src="__JS__/jquery-ui-1.8.23.custom.min.js" type="text/javascript"></script> 
<script src="__JS__/jquery.touchdown.js" type="text/javascript"></script> 
<script language="javascript" type="text/javascript" src="__JS__/plugins/jquery.uniform.min.js"></script> 
<script language="javascript" type="text/javascript" src="__JS__/plugins/jquery.tinyscrollbar.min.js"></script> 
<script language="javascript" type="text/javascript" src="__JS__/jnavigate.jquery.min.js"></script> 
<script language="javascript" type="text/javascript" src="__JS__/jquery.touchSwipe.min.js"></script> 
<script language="javascript" type="text/javascript" src="__JS__/plugins/jquery.peity.min.js"></script> 
<script language="javascript" type="text/javascript" src="__JS__/plugins/chosen/chosen/chosen.jquery.min.js"></script> 


<!-- Flot charts --> 
<script language="javascript" type="text/javascript" src="__JS__/plugins/flot/jquery.flot.js"></script> 
<script language="javascript" type="text/javascript" src="__JS__/plugins/flot/jquery.flot.resize.js"></script> 

<!-- Data tables --> 
<script type="text/javascript" language="javascript" src="__JS__/plugins/datatables/js/jquery.dataTables.js"></script> 

<!-- Task plugin --> 
<!--<script language="javascript" type="text/javascript" src="__JS__/plugins/knockout-2.0.0.js"></script> -->

<!-- Custom made scripts for this template --> 
<script src="__JS__/scripts.js" type="text/javascript"></script> 
<script src="__JS__/admin.js" type="text/javascript"></script> 
<script src="__JS__/common.js" type="text/javascript"></script>