<meta charset="utf-8">
<title><block name="title">{$title}</block></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="<block name='description'></block>">
<meta name="author" content="">
<link rel="shortcut icon" href="__CSS__/images/favicon.png">
<!-- Le styles -->
<link href="__JS__/plugins/chosen/chosen/chosen.css" rel="stylesheet">
<link href="__CSS__/twitter/bootstrap.css" rel="stylesheet">
<link href="__CSS__/base.css" rel="stylesheet">
<link href="__CSS__/twitter/responsive.css" rel="stylesheet">
<link href="__CSS__/jquery-ui-1.8.23.custom.css" rel="stylesheet">
<link href="__CSS__/font-awesome.min.css" rel="stylesheet">
<link href="__CSS__/common.css" rel="stylesheet">
<script src="__JS__/plugins/modernizr.custom.32549.js"></script>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->